.font__orange {
  color: orange;
}

.ranking_box {
  background-color: brown;
  width: 30%;
  /* height: 100%; */
}

.ranking__head {
  margin: 0%;
}

/* .ranking__ol {
  counter-increment: none;
  list-style-type: none;
  padding-left: 0;
  counter-reset: list-counter;
} */

.ranking__ol {
  counter-reset: index;
  padding: 0%;
  margin: 0%;
}

.ranking__li::before {
  counter-increment: index;
  content: counter(index);
  content: counter(index);
  content: counter(index);
  content: counter(index);
  background-color: gray;
  /* position: relative; */

}

.ranking__li .icon__all{
  display: inline-flex;
}

icon__all


.icon__up {
  background-color: white;
  width: 10px;
  height: 10px;
  background-image: url('rank.png');
  background-position: 0 0;
}

.icon__stay {
  background-color: white;
  width: 10px;
  height: 10px;
  background-image: url('rank.png');
  background-position: 0 -22;
}

.icon__down {
  background-color: white;
  width: 10px;
  height: 10px;
  background-image: url('rank.png');
  background-position: 0 -44;
}


/* .more__sites{
  display: inline-block;
} */