.font__orange {
  color: orange;
}

.ranking_box {
  background-color: lightgray;
  width: 20%;
  border: 1px solid black;
  border-radius: 5%;
}

.ranking__head {
  margin: 0%;
  padding-bottom: 10px;
}

.ranking__ol {
  list-style-type: none;
  counter-reset: index;
  padding: 0%;
  margin: 0%;

}

.ranking__li::before {
  counter-increment: index;
  content: counter(index);
  content: counter(index);
  content: counter(index);
  content: counter(index);
  padding-left: 5px;
  padding-right: 5px;
  background-color: gray;
  border: 1px solid grey;
  border-radius: 5px;
}

.ranking__li__div {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 5px;
}

.ranking__li {
  position: absolute;
  left: 0;
}

.icon__all {
  position: relative;
  right: 0;
  padding-left: 10px;
  background: no-repeat;
  width: 10px;
  height: 10px;
  background-image: url('rank.png');
}

.icon__up {
  background-position: 0 0;
}

.icon__stay {
  background-position: 0 -22px;
}

.icon__down {
  background-position: 0 -44px;
}

.more__sites {
  float: right;
}